@page "{id:int?}"
@model BuildingMaterials.Pages.Suppliers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Поставщик</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.ChiefFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.ChiefFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Materials)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Наименование материала</th>
                    <th>Изготовитель</th>
                </tr>

                @foreach (var item in Model.Supplier.Materials)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier.ID">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
