@page
@model BuildingMaterials.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>

<form asp-page="./Index" method="get">
    <div class="container">
        <p>
            <a asp-page="./Index">Вернуться к полному списку</a>
        </p>
        <div class="row">
            <div class="form-action no-color, col-sm">
                <p>
                    Найти по наименованию:
                    <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <input type="submit" name="Search" class="btn btn-primary" value="Поиск" />
                </p>
            </div>
            <div class="form-action no-color, col-sm">
                <p>
                    Найти по дате:
                    <input type="date" name="DateSearchString" value="@Model.CurrentFilter" />
                    <input type="submit" name="Search" class="btn btn-primary" value="Поиск" />
                </p>
            </div>
        </div>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" , asp-route-currentFilter="@Model.CurrentFilter" , asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Orders[0].Material)
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].AmountToPay)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountToPay)
                </td>
                <td>
                    @*@if (item.Material.ShelfLife != null)
                        {
                            int shelfLife = (int)item.Material.ShelfLife;
                            DateTime expiryDate = item.DeliveryDate.AddDays(shelfLife).Date;
                            @if (expiryDate > DateTime.Now.Date)
                            {
                                <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать |</a>
                                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить |</a>
                            }
                        }
                        <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a>*@
                    @if (item.Material.ShelfLife != null)
                    {

                    @if (item.DeliveryDate > DateTime.Now.Date)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать |</a>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Удалить |</a>
                    }
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Orders.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Orders.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Orders.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Предыдущая
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Orders.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Следующая
</a>
