@page
@model BuildingMaterials.Pages.Warehouses.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Склад</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Order.Unit)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Warehouse.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
